<!DOCTYPE html>
<html xmlns:th="https:www.//thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dashboard</title>
<script th:replace="fragments/imports :: imports"></script>
<script type="text/javascript">
	$(function() {
		$("#createStory").click(function() {
			window.location.href = "/createStory";
		});
	});
</script>
</head>
<body>
   <div th:replace="fragments/navbar :: navbar"></div>
   <div class="container">
      <div class="row">
         <div class="col-12 title">
            <h2>Recent Stories</h2>
         </div>
      </div>
      <div class="story-list"
         th:replace="fragments/storyPreview :: story-preview"></div>
      <div class="text-center" th:if="${#lists.isEmpty(stories)}" style="margin: 2em">
         <h5>Wow, such empty...</h5>
      </div>
      <div class="row">
         <div class="col-12 create-button">
            <button type="button" class="btn btn-primary"
               id="createStory">Create a new Story</button>
         </div>
      </div>

   </div>
</body>
</html>