<!DOCTYPE html>
<html xmlns:th="https:www.//thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Story Agora</title>
<link rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
   integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
   crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-3.5.1.slim.js"
   integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
   crossorigin="anonymous"></script>
</head>
<body>
   <div class="container">
      <h1>Welcome to Story Agora</h1>
      <h2>Unleash the writer within you and show off your short
         stories.</h2>
   </div>
</body>
</html>