<!DOCTYPE html>
<html xmlns:th="https:www.//thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Story Agora</title>
<script th:replace="fragments/imports :: imports"></script>
<script type="text/javascript">
	$(function() {
		$("#loginBtn").click(function() {
			window.location.href = "/login";
		});
	});
	
	$(function() {
		$("#registerBtn").click(function() {
			window.location.href = "/register";
		});
	});
</script>
</head>
<body>
   <div class="container">
      <div class="row">
         <div class="col-12 title">
            <h1>Welcome to Story Agora</h1>
            <h2>Unleash the writer within you and show off your
               short stories.</h2>
         </div>
      </div>

      <button type="button" class="btn btn-primary" id="loginBtn">Login</button>
      <button type="button" class="btn btn-primary" id="registerBtn">Register</button>
   </div>
</body>
</html>