<!DOCTYPE html>
<html xmlns:th="https:www.//thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<script th:replace="fragments/imports :: imports"></script>
<script type="text/javascript">
	$(function() {
		$("#editButton").click(function() {
			var username = $("#profileUsername").val();
			var address = "/u/" + username + "/edit_profile";
			window.location.href = address;
		});
	});
</script>
</head>
<body>
   <div th:replace="fragments/navbar :: navbar"></div>



   <div class="container profile-container">
      <div class="profile-banner row">
         <!--    Show edit profile button if on own profile -->
         <div class="profile-name">
            <h1 th:text="${profile.name}"></h1>
         </div>
         <div class="ml-auto"
            th:if="${profile.username} == ${user.username}">
            <button id="editButton"
               class="profile-edit-btn btn btn-primary">Edit
               Profile</button>
            <input type="hidden" th:field="${profile.username}"
               id="profileUsername">
         </div>
      </div>
      <div th:if="${profile.biography} != null" class="row">
         <fieldset class="col-12 biography">
            <legend class="biography-legend">
               <span>Biography</span>
            </legend>
            <p class="biography-text" th:text="${profile.biography}"></p>
         </fieldset>
      </div>
      <div class="row">
         <h1>Published Stories</h1>
      </div>
         <div th:replace="fragments/storyPreview :: story-preview" th:remove="preview-author"></div>
   </div>
</body>
</html>