<!DOCTYPE html>
<html xmlns:th="https:www.//thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<script th:replace="fragments/imports :: imports"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
   <div th:replace="fragments/navbar :: navbar"></div>
   
<!--    Show edit profile button if on own profile -->
   <div th:if="${profile.username} == ${user.username}">
      <a
         th:href="@{/u/{username}/edit_profile(username=${profile.username})}">Edit
         Profile</a>
   </div>


   <div class="container profile-container">
      <div class="row">
         <div class="col-12 title">
            <h1 th:text="'Profile - ' + ${profile.name}"></h1>
         </div>
      </div>
      <div class="row">
         <div class="col-12 biography">
            <p th:text="${profile.biography}"></p>
         </div>
      </div>
      <div class="row">
         <h1>Published Stories</h1>
         <div class="col-12" th:each="story: ${stories}">
            <ul>
               <li><a
                  th:href="@{/story/{storyID}(storyID=${story.id})}"
                  th:text="${story.title}"></a></li>
            </ul>
         </div>
      </div>
   </div>
</body>
</html>