<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Stories</title>
<script th:replace="fragments/imports :: imports"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
   <div th:replace="fragments/navbar :: navbar"></div>
   <div class="container">
      <div class="row title">
         <div class="col-12">
            <h1 th:text="${story.title}"></h1>
         </div>
         <div class="col-12 author">
            <p th:text="'by: '+ ${story.user.username}"> </p>
         </div>
      </div>
      <div class="row"></div>
      <div class="row">
         <div class="col-12 content">
            <h2 th:utext="${story.content}">test</h2>
         </div>
      </div>
   </div>

</body>
</html>