<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Stories</title>
<script th:replace="fragments/imports :: imports"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
   <div th:replace="fragments/navbar :: navbar"></div>
   <div class="container">
      <div class="row title">
         <div class="col-12">
            <h1 th:text="${story.title}"></h1>
         </div>
         <div class="col-12 author">
            <span>by: </span> <a th:text="${story.user.name}"
               th:href="@{/u/{username}(username=${story.user.username})}">
            </a>
         </div>
      </div>
      <div class="row">
         <div class="col-12 content">
            <p th:utext="${story.content}">test</p>
         </div>
      </div>
   </div>
   <a th:href="@{/story/{storyID}/editStory(storyID=${story.Id})}">EDIT
      STORY</a>

</body>
</html>